.mySkill{
    background:  #343a40;
}

.skills{
    margin-left: 150px;
}

.frontend img{
    width: 60px;
    margin-right: 10px;
    background: none;
    margin-top: 10px;
    
}

.backend img{
    width: 70px;
    margin-right: 10px;
    background: none;
    margin-top: 10px;
  
}